/* 
  Main CSS for webnma web page
  
  João Rodrigues @ 2017
  https://github.com/joaorodrigues
 */

/* Fonts */
@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

/* Hidden/Visible classes */
/* Forces browser to reassess styling */
.hidden {
	display: none !important;
}

.invisible {
	visibility: hidden !important;
}

.visible-flex {
	display: flex;
	visibility: visible;
}

.visible {
	display: inline;
	visibility: visible;
}

/* CSS Styling */
html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

/* About Icon & Div */
#help {
	width: 30%;
	height: 30%;
	
	position: absolute;
	z-index: 20;
	top: 1%;
	left: 1%;
}

#help_icon {
	padding: 5px;
	position: absolute;
	max-height: 1em;
	width: auto;
	z-index: 30;
	
	border-radius: 20px;
	background-color: rgb(235, 160, 100);
}

#help_icon:hover + #help_container {
	width: 100%;
	/*overflow: visible;*/
}

#help_container {
	position: absolute;
	width: 0;
	height: 100%;

	top: 2.5em;
	bottom: 0;
	left: 0;
	right: 0;
	
	background-color: rgba(240, 240, 240, 0.2);

	overflow: hidden;
	transition: .5s ease;

	text-align: justify;
	font-family: "Montserrat";
	font-size: 0.8em;
}

#help_container p, ol {
	margin-left: 1em;
	margin-right: 1em;

	transform: translate(-1em, -1em);
	-ms-transform: translate(-1em, -1em);
}

/* Score */
#score {

	width: 20%;
	height: 10%;
	
	position: absolute;
	z-index: 20;
	top: 1%;
	right: 1%;

    /* Slightly transparent background*/
	/*background-color: rgba(100, 100, 100, 0.2);*/
	background-color: green;
	border-radius: 5px;

	text-align: right;
	font-family: "Montserrat-SemiBold";
	font-size: 3em;
}

/* Input field for PDB ID */
#loadbox {
	/* Keep above all other content*/
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;

	/* Center vertically on page */
	display: flex; 
	width: 100%;
	height: 90%;

	flex-direction: column;
	flex-wrap: nowrap;
	
	align-items: center;
	justify-content: center;

	background-color: rgba(255, 255, 255, 0.8);;
}

#loadbox > input {
	/* Center Horizontally */
	margin: 0 auto;

	height: 4em;
	width: 30em;
	text-align: center;

	border: solid;
	border-radius: 5px;
	border-color: rgb(100, 160, 235);
	background-color: rgb(240, 240, 240);

	font-family: "Montserrat";
	font-weight: bold;
	font-size: 0.8em;

}
/* Disable on click blueish halo */
#loadbox > input:focus {
    outline: none;
}

#loadbox > div { /* progress bar */
	/* Center Horizontally */
	margin: 0 auto;

	height: 2%;
	width: 25%;
	text-align: center;

	border: none;
	border-radius: 5px;

	font-family: "Montserrat";
	padding-top: .5%;
}

#container {
	height: 90%;
	width: 100%;
}

/* Footer */
footer {
	height: 10%;
}

#stats {
	text-align: center;
	
	font-family: "Montserrat";
	font-size: 0.8em;
	color: rgb(50, 50, 50);
}

#about {
	text-align: center;
	
	font-family: "Montserrat";
	font-size: 0.8em;
	color: rgb(150, 150, 150);
	
	padding-top: 1%;
}